extends _modules/layout/layout.pug

block page
  main.main
    h1 Главная страница
    a(href="/text.html") Ссылка
    h2 Пример формы
    form(action="/" method="post")
      fieldset
        legend Название группы элементов
        input(type="text" placeholder="Логин")
        input(type="password" placeholder="Пароль")
        input(type="email" placeholder="Email")
        input(type="date" placeholder="Дата")
        input(type="number" placeholder="Число")
        input(type="phone" placeholder="Телефон")
        label Checkbox
          input(type="checkbox")
        label Radio
          input(type="radio")
        textarea
        button(type="submit") Кнопка