extends _modules/layout/layout.pug

block page
  main.main
    h1 In egestas leo commodo
    p Integer auctor et felis rutrum ultricies. Donec accumsan eleifend orci, sit amet vestibulum nulla convallis vel. Proin maximus nunc lorem, in fringilla libero vestibulum in. Duis nisi erat, auctor vitae vestibulum eu, accumsan id lacus. Integer nec est ipsum. Maecenas in posuere libero, sit amet mattis nisi. Donec eleifend eros nisl. Nulla id purus euismod, vestibulum dui et, dictum erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed iaculis turpis a justo ultricies scelerisque.
    p In hac habitasse platea dictumst. Nunc iaculis nunc ut aliquam vulputate. Fusce diam magna, finibus eu ante ut, vestibulum bibendum dolor. Donec placerat bibendum molestie. Sed lacus turpis, laoreet ut sollicitudin a, hendrerit sit amet dolor. Pellentesque sit amet dolor nec risus molestie sodales nec nec odio. Aenean tortor est, ultricies quis porta sit amet, lobortis tristique neque. Ut hendrerit erat libero, cursus aliquet erat interdum eu. Nullam malesuada neque ac pharetra maximus. Maecenas placerat, mauris sed eleifend iaculis, arcu nisi rutrum diam, sed commodo justo quam porttitor enim. Mauris massa augue, cursus ac est nec, consectetur dignissim dolor. Nam gravida porttitor interdum. In rhoncus urna ut velit interdum euismod.